<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{#if @root.title}} {{ @root.title }} | {{/if}}Friends of the Fiske Free Library</title>
    {{#if style}}
    <style>
        {{{ style }}}
    </style>
    {{/if}}
  </head>
  <body>

    <header>
        <h1 class="header-title"><span class="contained"><a href="/">Friends of the Fiske Free Library</a><span></h1>
        <nav>
          <ul class="nav-list contained">
            <li><a class="nav-button" href="/#donate">Donate</a></li>
            <!--<li><a class="nav-button" href="/#join">Become a Member</a></li>-->
            <li><a class="nav-link" href="/#events">Events</a></li>       
          </ul>
        </nav>
    </header>
    <div class="container-body">
      <article>
      {{{ body }}}
      </article>
      <footer>
        <span class="footer-copyright">&copy;2025 Friends of the Fiske Free Library</span>
        <span class="footer-location">Claremont, NH 03743</span>
      </footer>
    </div><!-- end container-body -->
  </body>
</html>